html, body {
    width: 100%;
    min-height: 100%;
    height: 100%;
    background: -webkit-linear-gradient(left, #fff 65%, #e5e4e2 35%);
    background: -o-linear-gradient(left, #fff 65%, #e5e4e2 35%);
    background: linear-gradient(to right, #fff 65%, #e5e4e2 35%);
}
