///////////////////////////////////////////////////////////////////////////////
// # _settings.color.scss
//
// Your color palette should sit here and always follow the same namespace:
// `$color-`
///////////////////////////////////////////////////////////////////////////////
$color-background: #ffffff;
$color-backgroundTwo: #e5e4e2;
$color-foreground: #151515;
$panel-backgroundColor: #000f26;

$text-white: $color-background;
$grey: #c9c9c9;
